.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.columns__item {
    
}
.columns__link {
    font-size: 14px;
    line-height: 16.44px;
    letter-spacing: 0.05em;
}